.avatar {
  position: relative;
  border-radius: 50%;
  background-size: cover;
  margin-bottom: 20px;
}

.avatarBorder {
  border: 5px solid #fff;
  box-shadow: 0 0 0 4px #e5e0d0;
}

.mask {
  position: absolute;
}

.border {
  position: relative;
  z-index: 1;
}

.emptyAvatar {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  background-color: #e0e0e0;
  font-size: 30px;
  font-weight: 700;
}